.card-bg {
  background: linear-gradient(to bottom right, rgba(249, 213, 35, 0.8), rgba(255, 78, 81, 0.8));
}

.background-img {
  background-image: url('https://cdn.pixabay.com/photo/2021/06/03/01/54/spices-6305702_1280.jpg');
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

